html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

.open {
    color: green;
}

.closed {
    color: red;
}

.remove-margin {
    margin: 0px;
    -webkit-margin-after: 0px;
}

.info-box {
    max-width: 500px;
    overflow: hidden;
}

#contact-box {
    width: 250px;
    float: left;
}

#hours-box {
    width: 200px;
    float: right;
    margin-left: 10px;
}

.brewpub-filter {
    padding: 5px;
    background-color: white;
    border: 2px solid lightblue;
    font-size: 14px;
}
