html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

.open {
    color: green;
}

.closed {
    color: red;
}

.remove-margin {
    margin: 0px;
    -webkit-margin-after: 0px;
}

.info-box {
    max-width: 500px;
    overflow: hidden;
}

#contact-box {
    width: 250px;
    float: left;
}

#hours-box {
    width: 200px;
    float: right;
    margin-left: 10px;
}

.custom-controls {
  padding: 10px;
  margin-bottom: 5px;

  background-color: white;
  font-size: 14px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.closest-brewery {
  margin: 0px 0px 5px 0px;
  line-height: 40px;
  padding: 0 30px;
  background: lightblue;
  border: none;
  font-size: 14px;
  flex-shrink: 1;
}
